
* {
  font-family: sans-serif;
}
h2.header_headings {
  font-size: 45px;
  text-indent: 10px;
  margin-top: 0;
}
h3.header_headings {
  font-size: 20px;
  text-indent: 25px;
}
h1.body_headings {
  font-size: 27px;
}
h1.body_headings:first-letter {
  font-size: 200%;
}
img {
  float: left;
}
p {
  font-family: tahoma;
}
ul {
  font-weight: bold;
  font-size: 18px;
}
a {
  color: orange;
}
a:hover {
  color: green;
}
li {
  margin: 5px;
}
footer {
  font-size: 15px;
  text-align: center;
}
#copyright {
  vertical-align: middle;
}
#body {
  width: 1000px;
  background-color: white;
  border-width: thick;
  border-color: black;
  border-style: solid;
  margin: auto;
  box-shadow: 0 0 30px #000000;
}
#header {
  border-bottom: 2px solid black;
  background: orange;
}
#footer {
  height: 50px;
  border-top: 2px solid black;
  background: orange;
}
